
/* Colors
	Coral 	: #DC006B;
	Green 	: #00CC00;
	Blue 	: #16528E;
*/

/* BASE
========================================================== */
body 					{ background:#EFEFEF; }

/* HEADER 
========================================================== */
header 					{ background:#16528E; height:100px; }
	
	/* logo
	------------------------------ */
	#logo				{ color:#FFF; font-family:'Sintony'; font-size:50px; padding-top:20px; }
	#logo i 			{ color:#04305C; text-shadow:0 1px 0 #3184D6; }
	#logo:hover			{ text-decoration:none; }

	/* main nav
	------------------------------ */
	#main-nav 			{ padding-top:34px; }
	#main-nav ul 		{ list-style:none; }
	#main-nav li 		{  }
	#main-nav a 		{ color:#FFF; margin-left:30px; }
	#main-nav i 		{ color:#035D91; margin-right:15px; }
	#main-nav a:hover 	{  }

/* FOOTER 
========================================================== */

/* MAIN 
========================================================== */
#content 					{ padding:40px 20%; }

/* HOME 
========================================================== */
#welcome 					{ min-height:600px; position:relative; width:100%; }

	/* welcome map
	------------------------------ */
	#map-canvas		 		{ min-height:500px; position:relative; width:100%; }
	.gmnoprint 				{ display:none; }

	/* welcome hero
	------------------------------ */
	#welcome-msg 				{ left:140px; position:absolute; top:20%; width:25%; z-index:9999; }
	#welcome-msg h1 			{ color:#DC006B; }
	#welcome-msg h2 			{ color:#16528E; margin-bottom:30px; }
	#welcome-msg p 				{ color:#FFF; font-size:18px; line-height:1.7; margin-bottom:30px; }

	#welcome-msg a 				{ display:block; font-size:24px; margin-bottom:30px; width:50%; }
	#welcome-ambassador-link 	{ color:#FFF; font-size:14px; }

/* SIGN UP 
========================================================== */

/* AMBASSADOR
========================================================== */
#welcome-ambassador 			{  }

	#ambassador-loading 		{ display:block; font-size:80px; text-align:center; }

/* STUDENTS
========================================================== */
#loading				{ font-size:24px; margin-bottom:20px; }

	.college-box 				{ background:#FFF; border:1px solid #CCC; padding:20px;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; 
	box-shadow:0 3px 0 #BBB; -moz-box-shadow:0 3px 0 #BBB; -webkit-box-shadow:0 3px 0 #BBB; }
	.college-box img 			{ margin-right:10px; }

/* CHAT
========================================================== */
.chat-box						{ background:#FFF; border:1px solid #CCC; padding:0 20px 0 20px;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; 
	box-shadow:0 3px 0 #BBB; -moz-box-shadow:0 3px 0 #BBB; -webkit-box-shadow:0 3px 0 #BBB; }
	
	.chat-header h3 			{ color:#DC006B; }
	.chat-messages 				{ border-bottom:1px solid #CCC; padding:20px; }
		.chat-bubble 			{ margin-bottom:10px; }
		.chat-message 			{ padding-top:5px; }
	.other-bubble 				{ text-align:left; }
		.other-bubble .face-bubble 		{ float:left; margin-right:10px; }
	.my-bubble 					{ text-align:right; }
		.my-bubble .face-bubble 		{ float:right; margin-left:10px; }

	.chat-compose 				{ padding:10px 5px 5px 5px; }
		.chat-compose button	{ margin-top:-11px; }

#map-canvas img { 
  max-width: none;
}

#map-canvas label { 
  width: auto; display:inline; 
} 

/* =============================================================================================
 * =RESPONSIVE
================================================================================================ */
/* Large Desktop */
@media (min-width: 1200px) {

}

/* Small Desktop Screens + Tablets */
/*@media (min-width: 769px) and (max-width: 979px) {

}*/

/* Phone Landscape and Smaller */
@media (max-width: 1370px) {
	#welcome-msg 		{ top:20%; }
	#welcome-msg h1 	{ font-size:30px; }
	#welcome-msg h2		{ font-size:20px; }
}

/* Phone Portrait */
@media (max-width:480px) {

}