
/* Colors
	Coral 	: #DC006B;
*/

/* BASE 
========================================================== */
header 			{ background:#DC006B; height:100px; }
	
	#logo		{ color:#FFF; font-family:'Sintony'; }

/* HEADER
========================================================== */

/* FOOTER 
========================================================== */

/* HOME 
========================================================== */
#map-canvas 	{ min-height:500px; position:relative; width:100%; }
	#map-test 	{ background:#FFF; position:absolute; }

/* SIGN UP 
========================================================== */