
/* Colors
	Coral 	: #DC006B;
	Green 	: #00CC00;
	Blue 	: #16528E;
*/

/* BASE 
========================================================== */
header 			{ background:#16528E; height:100px; }
	
	/* logo
	------------------------------ */
	#logo				{ color:#FFF; font-family:'Sintony'; font-size:70px; padding-top:13px; }
	#logo i 			{ color:#04305C; text-shadow:0 1px 0 #3184D6; }
	#logo:hover			{ text-decoration:none; }

	/* main nav
	------------------------------ */
	#main-nav 			{ padding-top:34px; }
	#main-nav ul 		{ list-style:none; }
	#main-nav li 		{  }
	#main-nav a 		{ color:#FFF; margin-left:30px; }
	#main-nav i 		{ color:#035D91; margin-right:15px; }
	#main-nav a:hover 	{  }

/* HEADER
========================================================== */

/* FOOTER 
========================================================== */

/* MAIN 
========================================================== */
#content 					{ padding-bottom:40px; padding-top:40px; }

/* HOME 
========================================================== */
#welcome 					{ min-height:600px; position:relative; width:100%; }

	/* welcome map
	------------------------------ */
	#map-canvas		 		{ min-height:500px; position:relative; width:100%; }
	.gmnoprint 				{ display:none; }

	/* welcome hero
	------------------------------ */
	#welcome-msg 				{ left:140px; position:absolute; top:300px; z-index:9999; }
	#welcome-msg h1 			{ color:#DC006B; font-size:50px; }
	#welcome-msg h2 			{ color:#16528E; margin-bottom:30px; }
	#welcome-msg p 				{ color:#FFF; font-size:18px; margin-bottom:30px; }

	#welcome-msg a 				{ display:block; font-size:24px; margin-bottom:30px; width:50%; }
	#welcome-ambassador-link 	{ color:#FFF; font-size:14px; }

/* SIGN UP 
========================================================== */

/* AMBASSADOR
========================================================== */
#welcome-ambassador 			{  }

	#ambassador-loading 		{ display:block; font-size:80px; text-align:center; }

/* CHAT
========================================================== */
.chat-box 						{ border:1px solid #CCC; padding:20px;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; 
	box-shadow:0 3px 0 #BBB; -moz-box-shadow:0 3px 0 #BBB; -webkit-box-shadow:0 3px 0 #BBB; }
	
	.chat-messages 				{ border-bottom:1px solid #CCC; padding:20px; }
	.other-bubble 				{ text-align:left; }
	.my-bubble 					{ text-align:right; }

	.chat-compose 				{ padding:5px; }